@{
    Layout = null;
}
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            border: 3px solid green;
        }
    </style>
<div class="center">
    some error occured please contact the serveice provider.
</div>
